<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>

    <title th:text="${title!=null} ? ${title} :'СМС Оповещение абонентов'">СМС оповещение Абонентов</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <th:block th:insert="~{mandatory_styles :: link}"></th:block>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/css/assets/global/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <script th:src="@{/js/jquery.js}"></script>


</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div th:replace="~{nav :: nav(Home)}"/>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">

                <!-- todo Pagination -->

                <div class="container">
                    <div th:replace="~{flashMessages :: flash}"/>

                    <!-- todo найти как обращаться к URL из thymeleaf -->
                    <h1>Абонент</h1>


                        <form action="#" th:action="@{/abonent/saveAbonent}" th:object="${abonent}" method="post">
                            <!-- todo Сделать inputManually=true только при add -->
                            <input type="hidden" name="inputManually" th:value="true" />
                            <div class="form-group">
                                <label>Лицевой счёт</label>
                                <input class="form-control" type="text" th:field="*{accountNumber}" required/>
                                <small class="form-text text-muted">Обязательное поле!!!</small>
                                <small class="form-text text-danger" th:each="err : ${#fields.errors('accountNumber')}" th:text="${err}" />
                            </div>

                            <div class="form-group">
                                <label>ТП</label>
                                <select id="tpSelect" class="form-control" th:name="tp">
                                    <option th:each="item : ${tpList}"
                                            th:value="${item.id}"
                                            th:text="${item.name}" th:selected="${(tp!=null) ? tp.id==item.id : null}">Part name</option>
                                </select>
                                <small class="form-text text-muted">Выберите ТП.</small>
                            </div>
                            <div class="form-group">
                                <label>Фидер</label>
                                <select id="fiderSelect" class="form-control" th:name="fider">
                                    <option th:each="item : ${fiderList}"
                                            th:value="${item.id}"
                                            th:text="${item.name}" th:selected="${fider.id==item.id}">Fider id : NAME</option>
                                </select>
                                <small class="form-text text-muted">Выберите Фидер *.</small>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Фамилия</label>
                                    <input class="form-control" type="text" th:field="*{surname}" />
                                    <small class="form-text text-danger" th:each="err : ${#fields.errors('surname')}" th:text="${err}" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Имя</label>
                                    <input class="form-control" type="text" th:field="*{name}" />
                                    <small class="form-text text-danger" th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Отчество</label>
                                    <input class="form-control" type="text" th:field="*{middlename}" />
                                    <small class="form-text text-danger" th:each="err : ${#fields.errors('middlename')}" th:text="${err}" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Доманий Тел</label>
                                    <input class="form-control" type="text" th:field="*{homePhone}" />
                                    <small class="form-text text-danger" th:each="err : ${#fields.errors('homePhone')}" th:text="${err}" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Мобильный 1</label>
                                    <input class="form-control" type="text" th:field="*{firstPhone}" />
                                    <small class="form-text text-danger" th:each="err : ${#fields.errors('firstPhone')}" th:text="${err}" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Мобильный 2</label>
                                    <input class="form-control" type="text" th:field="*{secondPhone}" />
                                    <small class="form-text text-danger" th:each="err : ${#fields.errors('secondPhone')}" th:text="${err}" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Опора</label>
                                    <input class="form-control" type="text" th:field="*{opora}" />
                                    <small class="form-text text-danger" th:each="err : ${#fields.errors('opora')}" th:text="${err}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Информация</label>
                                <textarea class="form-control" th:field="*{notes}"></textarea>
                            </div>
                            <!-- todo modified чтобы сам подставлялся -->

                            <input id="submitButton" class="btn btn-outline-info" type="submit" value="Сохранить" />
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{mandatory_styles :: script}"></th:block>
<script>

    //Функция изменяет options у targetObj при изменении selected value у selectedObj
    var selectOnChange = function(selectedObj,targetObj,entity,disableArr){
        selectedObj.on("click change",function(){
            var selectedVal =$("option:selected", selectedObj).val();
            var requestURL = "/app/ajax/resTree?parent="+entity+"_"+selectedVal;
            $.ajax({
                url: requestURL,
                dataType: "html",
                method: "GET",
                success: function(data) {
                    if(!selectedObj.data("last")) {
                        $.each(disableArr, function (index, domObj) {
                            domObj.attr('disabled', 'disabled');
                            domObj.html('');
                        });
                    }
                    setSelectOptions(targetObj,data);
                },
                error: function(err){
                    console.log(err);
                }
            });
        });
    }

    //Функция выполняет Ajax запрос и выставляет поля <option> у changeObj
    var setSelectOptions = function(changeObj,data){
        changeObj.html('');
        objArray = jQuery.parseJSON(data);
        $.each(objArray, function(index, value){
            var id = value.id.split('_')[1];
            var text = value.text;
            var tag = '<option value="'+id+'">'+text+'</option>';
            changeObj.append(tag);
            changeObj.removeAttr('disabled');
            if(changeObj.data("last")) {
                $("#submitButton").prop('disabled',false);
            }
        });
    }


    $(document).ready(function () {
        selectOnChange($("#tpSelect"),$("#fiderSelect"),"tp",[]);

        var minHeight = $(window).height()-83;
        $("div.page-content").css("min-height",minHeight+"px");
    });

</script>
</body>
</html>
