<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>

    <title th:text="${title!=null} ? ${title} :'СМС Оповещение абонентов'">СМС оповещение Абонентов</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <th:block th:insert="~{mandatory_styles :: link}"></th:block>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/css/assets/global/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <script th:src="@{/js/jquery.js}"></script>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div th:replace="~{nav :: nav(Home)}"/>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="container">
                    <div th:replace="~{flashMessages :: flash}"/>
                    <h2 th:text="${(#request.requestURI.contains('addChildren')) ? 'Создание объекта '+entity : 'Редатирование объкета '+entity}"/>
                    <div class="row">
                        <div class="col-md-6">
                            <form th:action="@{'/edit/save/'+${entity}}" method="post">
                                <input th:value="${(object.id!=null)? object.id : '0'}" th:name="object[id]" type="hidden"/>
                                <div class="form-group" th:if="${entity.equals('substation') || entity.equals('section') || entity.equals('line') || entity.equals('part') || entity.equals('tp')}">
                                    <label>РЭС</label>
                                    <select id="resSelect" class="form-control" th:name="object[res]" th:attr="data-last=${(entity.equals('res')) ? true : false}">
                                        <option th:each="item : ${resList}"
                                                th:value="${item.id}"
                                                th:text="${item.name}" th:selected="${resId==item.id}">RES NAME</option>
                                    </select>
                                    <small class="form-text text-muted">Выберите РЭС.</small>
                                </div>
                                <div class="form-group" th:if="${entity.equals('section') || entity.equals('line') || entity.equals('part') || entity.equals('tp')}">
                                    <label>Подстанция</label>
                                    <select id="substationSelect" class="form-control" th:name="object[substation]" th:attr="data-last=${(entity.equals('section')) ? true : false}">
                                        <option th:each="item : ${substationList}"
                                                th:value="${item.id}"
                                                th:text="${item.name}" th:selected="${substationId==item.id}">SUBSTATION NAME</option>
                                    </select>
                                    <small class="form-text text-muted">Выберите Подстанцию.</small>
                                </div>
                                <div class="form-group" th:if="${entity.equals('line') || entity.equals('part') || entity.equals('tp')}">
                                    <label>Секция шин</label>
                                    <select id="sectionSelect" class="form-control" th:name="object[section]" th:attr="data-last=${(entity.equals('line')) ? true : false}">
                                        <option th:each="item : ${sectionList}"
                                                th:value="${item.id}"
                                                th:text="${item.name}" th:selected="${sectionId==item.id}">SUBSTATION NAME</option>
                                    </select>
                                    <small class="form-text text-muted">Выберите Секцию Шин.</small>
                                </div>
                                <div class="form-group" th:if="${entity.equals('part') || entity.equals('tp')}">
                                    <label>Линия</label>
                                    <select id="lineSelect" class="form-control" th:name="object[line]" th:attr="data-last=${(entity.equals('part')) ? true : false}">
                                        <option th:each="item : ${lineList}"
                                                th:value="${item.id}"
                                                th:text="${item.name}" th:selected="${lineId==item.id}">Line name</option>
                                    </select>
                                    <small class="form-text text-muted">Выберите линию 10кВ.</small>
                                </div>
                                <div class="form-group" th:if="${entity.equals('tp')}">
                                    <label>Участок</label>
                                    <select id="partSelect" class="form-control" th:name="object[part]" th:attr="data-last=${(entity.equals('tp')) ? true : false}">
                                        <option th:each="item : ${partList}"
                                                th:value="${item.id}"
                                                th:text="${item.name}" th:selected="${partId==item.id}">Part name</option>
                                    </select>
                                    <small class="form-text text-muted">Выберите Участок.</small>
                                </div>
                                <div class="form-group">
                                    <label>Название</label>
                                    <input class="form-control" th:name="object[name]" th:value="${object.name}" type="text"/>
                                    <small class="form-text text-muted">Введите название.</small>
                                </div>
                                <input id="submitButton" class="btn green" type="submit" value="Сохранить" />
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="~{footer :: footer}"/>
</div>
<th:block th:insert="~{mandatory_styles :: script}"></th:block>
<script>

    //Функция изменяет options у targetObj при изменении selected value у selectedObj
    var selectOnChange = function(selectedObj,targetObj,entity,disableArr){
        selectedObj.on("click change",function(){
            var selectedVal =$("option:selected", selectedObj).val();
            var requestURL = "/app/ajax/resTree?parent="+entity+"_"+selectedVal;
            $.ajax({
                url: requestURL,
                dataType: "html",
                method: "GET",
                success: function(data) {
                    if(!selectedObj.data("last")) {
                        $.each(disableArr, function (index, domObj) {
                            domObj.attr('disabled', 'disabled');
                            domObj.html('');
                        });
                    }
                    setSelectOptions(targetObj,data);
                },
                error: function(err){
                    console.log(err);
                }
            });
        });
    }

    //Функция выполняет Ajax запрос и выставляет поля <option> у changeObj
    var setSelectOptions = function(changeObj,data){
        changeObj.html('');
        objArray = jQuery.parseJSON(data);
        $.each(objArray, function(index, value){
            var id = value.id.split('_')[1];
            var text = value.text;
            var tag = '<option value="'+id+'">'+text+'</option>';
            changeObj.append(tag);
            changeObj.removeAttr('disabled');
            if(changeObj.data("last")) {
                $("#submitButton").prop('disabled',false);
            }
        });
    }


    $(document).ready(function () {
        selectOnChange($("#resSelect"),$("#substationSelect"),"res",[$("#sectionSelect"),$("#lineSelect"),$("#partSelect"),$("#submitButton")]);
        selectOnChange($("#substationSelect"),$("#sectionSelect"),"substation",[$("#lineSelect"),$("#partSelect"),$("#submitButton")]);
        selectOnChange($("#sectionSelect"),$("#lineSelect"),"section",[$("#partSelect"),$("#submitButton")]);
        selectOnChange($("#lineSelect"),$("#partSelect"),"line",[$("#submitButton")]);

        var minHeight = $(window).height()-83;
        $("div.page-content").css("min-height",minHeight+"px");
    });

</script>
</body>
</html>
