<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список ТП</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}" />

    <h1>Список ТП</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-outline-primary" th:href="@{/tp/add}">Добавить новое ТП</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <td> РЭС </td>
                    <td> Название </td>
                    <td> Действия </td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tp : ${tps}">
                    <td th:text="${tp.res.name}"/>
                    <td th:object="${tp}">
                        <span th:text="*{name}" /><br/>
                    </td>
                    <td>
                        <a class="btn btn-outline-dark" th:href="@{'/tp/edit/' + *{id}}">Изменить</a>
                        <a class="btn btn-outline-danger" th:href="@{'/tp/delete/' + *{id}}">Удалить</a>
                        <!-- todo Сделать Error на невозможность удаления Через Constrains или запрос на удаление каскадом-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>