<div th:fragment="pagination" th:if="${tpsPaginated.totalPages > 0}" xmlns:th="http://www.w3.org/1999/xhtml">
    <p> Страница <span th:text="${tpsPaginated.number+1}"/> из <span th:text="${tpsPaginated.getTotalPages()}"/></p>
    <p> Показано с <span th:text="${(tpsPaginated.number)*(tpsPaginated.size)+1}"/> по <span th:text="${(tpsPaginated.number)*(tpsPaginated.size)+tpsPaginated.size}"/> записи</p>
    <p>Количество ТП <span th:text="${totalTp}"/></p>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:if="${tpsPaginated.number > 1}">
                <!-- todo: переписать ссылку на thymeleaf get request link -->
                <a th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=1)}">
                    <span class="page-link">Первая</span>
                </a>
            </li>
            <li class="page-item" th:if="${tpsPaginated.number > 0}">
                <a th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=${tpsPaginated.number})}">
                    <span class="page-link">Предыдущая</span>
                </a>
            </li>
            <li class="page-item" th:if="${tpsPaginated.number > 2}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:if="${tpsPaginated.number > 1}">
                <a class="page-link"
                   th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=${tpsPaginated.number-1})}"
                   th:text="${tpsPaginated.number-1}">
                    0
                </a>
            </li>
            <li class="page-item" th:if="${tpsPaginated.number > 0}">
                <a class="page-link"
                   th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=${tpsPaginated.number})}"
                   th:text="${tpsPaginated.number}">
                    1
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link"
                   th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=${tpsPaginated.number+1})}"
                   th:text="${tpsPaginated.number+1}">
                    Текущая страница
                </a>
            </li>

            <li class="page-item" th:if="${tpsPaginated.number < tpsPaginated.getTotalPages()-1 }">
                <a class="page-link"
                   th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=${tpsPaginated.number+2})}"
                   th:text="${tpsPaginated.number+2}">
                    3
                </a>
            </li>
            <li class="page-item" th:if="${tpsPaginated.number < tpsPaginated.getTotalPages()-2 }" >
                <a class="page-link"
                   th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=${tpsPaginated.number+3})}"
                   th:text="${tpsPaginated.number+3}">
                    4
                </a>
            </li>
            <li class="page-item" th:if="${tpsPaginated.number < tpsPaginated.getTotalPages()-3 }">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:if="${tpsPaginated.number < tpsPaginated.getTotalPages()-1 }">
                <a class="page-link" th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=${tpsPaginated.number+2})}">
                    Следующая</a>
            </li>
            <li class="page-item" th:if="${tpsPaginated.number < tpsPaginated.getTotalPages()-2 }">
                <a class="page-link" th:href="@{'/tp'+${linkTo}(size=${tpsPaginated.size}, page=${tpsPaginated.getTotalPages()})}">
                    Последняя</a>
            </li>

        </ul>
    </nav>
</div>
