<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:href="@{/css/assets/global/css/components-md.min.css}" rel="stylesheet" id="style_components" type="text/css" />
    <script th:src="@{/js/jquery.js}"></script>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}" />
    <div th:replace="~{flashMessages :: flash}" />

    <div class="container">
        <div class="row">
            <h2>ТП</h2>
            <div class="col-md-12">
                <div class="portlet green-meadow box">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i><span th:text="${tp.name}"/> </div>
                        <div class="actions">
                            <a th:href="@{'/tp/edit/'+${tp.id}}" class="btn btn-default btn-sm">
                                <i class="fa fa-pencil"></i> Редактировать </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row static-info">
                            <div class="col-md-5 name"> РЭС </div>
                            <div class="col-md-7 value">
                                <a th:href="@{'/res/view/'+${tp.res.id}}">
                                    <span th:text="${tp.res.name}"/>
                                </a>
                            </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> Название </div>
                            <div class="col-md-7 value"> <span th:text="${tp.name}"/> </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> Количество Фидеров: </div>
                            <div class="col-md-7 value"> <span th:text="${tp.getFiders().size()}"> </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5">
                                <a th:href="@{'/cart/add/tp/'+${tp.id}}" class="btn btn-outline-info btn-sm">
                                    <svg class="bi bi-chat-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                                    </svg>
                                    В рассылку
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2>Cписок Фидеров</h2>
        <table class="table table-hover">
            <thead class="thead-dark">
                <th> Название </th>
                <th> Количество Абонентов </th>
                <th> Действия </th>
            </thead>
            <tbody>
                <tr th:each="fider : ${tp.fiders}">
                    <td th:object="${fider}">
                        <a th:href="@{'/fider/view/'+${fider.id}}" title="Просмотр данных Фидера">
                            <span th:text="*{name}" />
                        </a>
                    </td>
                    <td th:object="${fider}">
                        <span class="label label-success" th:text="*{abonents.size()}"/>
                    </td>
                    <td>
                        <a class="btn btn-outline-dark" th:href="@{'/tp/edit/' + ${fider.id}}">Изменить</a>
                        <a class="btn btn-outline-danger" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/tp/delete/' + ${fider.id}}">Удалить</a>
                        <a th:href="@{'/cart/add/fider/'+${fider.id}}" class="btn btn-outline-info btn-sm"> В рассылку</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>