<div th:fragment="mainInfo" xmlns:th="http://www.w3.org/1999/xhtml">


        <div class="portlet green-meadow box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-fire"></i><span th:text="${tp.name}"/> </div>
                <div class="actions">
                    <a th:href="@{'/edit/tp/'+${tp.id}}" class="btn purple btn-sm">
                        <i class="fa fa-pencil"></i> Редактировать </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info">
                    <div class="col-md-5 name"> РЭС </div>
                    <div class="col-md-7 value">
                        <a th:href="@{'/res/view/'+${tp.getRes().getId()}}">
                            <span th:text="${tp.getRes().getName()}"/>
                        </a>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name"> Подстанция </div>
                    <div class="col-md-7 value">

                            <span th:text="${tp.part.line.section.substation.name}"/>

                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name"> СШ </div>
                    <div class="col-md-7 value">

                            <span th:text="${tp.part.line.section.name}"/>

                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name"> Линия </div>
                    <div class="col-md-7 value">

                            <span th:text="${tp.part.line.name}"/>

                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name"> Участок </div>
                    <div class="col-md-7 value">

                            <span th:text="${tp.part.name}"/>

                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name"> Название </div>
                    <div class="col-md-7 value"> <span th:text="${tp.name}"/> </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name"> Количество Фидеров: </div>
                    <div class="col-md-7 value"> <span th:text="${tp.getFiders().size()}"> </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5 name"> Количество Абонентов: </div>
                    <div class="col-md-7 value"> <span th:text="${abonentCount}"/> </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-5">
                        <a th:href="@{'/cart/add/tp/'+${tp.id}}" class="btn green btn-sm">
                            <svg class="bi bi-chat-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                            </svg>
                            В рассылку
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
