<div class="portlet green-meadow box" th:fragment="mainInfo" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-circle"></i><span th:text="${section.name}"/> </div>
        <div class="actions">
            <a th:href="@{'/section/edit/'+${section.id}}" class="btn btn-default btn-sm">
                <i class="fa fa-pencil"></i> Редактировать </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row static-info">
            <div class="col-md-5 name"> Название </div>
            <div class="col-md-7 value"> <span th:text="${section.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> РЭС </div>
            <div class="col-md-7 value"> <span th:text="${section.substation.res.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> Подстанция </div>
            <div class="col-md-7 value"> <span th:text="${section.substation.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> Количество линий </div>
            <div class="col-md-7 value"> <span th:text="${section.lines.size()}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> Количество ТП: </div>
            <div class="col-md-7 value"> <span th:text="${section.getTps().size()}"> </div>
        </div>
    </div>
</div>