<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список ТП</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}" />
    <div th:replace="~{flashMessages :: flash}" />

    <h1>Список Фидеров</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-outline-primary" th:href="@{/fider/add}">Добавить новый Фидер</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <td> РЭС </td>
                    <td> ТП </td>
                    <td> Название </td>
                    <td> Действия </td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fider : ${fiders}">
                    <td th:text="${fider.tp.res.name}"/>
                    <td th:text="${fider.tp.name}"/>
                    <td th:object="${fider}">
                        <span th:text="*{name}" /><br/>
                    </td>
                    <td>
                        <a class="btn btn-outline-dark" th:href="@{'/fider/edit/' + ${fider.id}}">Изменить</a>
                        <a class="btn btn-outline-danger" th:href="@{'/fider/delete/' + ${fider.id}}">Удалить</a>
                        <!-- todo Сделать Error на невозможность удаления Через Constrains или запрос на удаление каскадом-->
                        <a class="btn btn-outline-success" th:href="@{'/cart/add/fider/' + ${fider.id}}">В рассылку</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>