<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:href="@{/css/assets/global/css/components-md.min.css}" rel="stylesheet" id="style_components" type="text/css" />
    <script th:src="@{/js/jquery.js}"></script>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}" />
    <div th:replace="~{flashMessages :: flash}" />

    <div class="container">
        <div class="row">
            <h2>ТП</h2>
            <div class="col-md-12">
                <div th:replace="~{fider/view_fragments :: mainInfo}"/>
            </div>
        </div>
        <h2>Cписок Абонентов</h2>
        <table class="table table-hover">
            <thead class="thead-dark">
                <th> Лиц. Сч. </th>
                <th> ФИО </th>
                <th> Номера тел. </th>
                <th> Отметки </th>
                <th> Создан </th>
                <th> Изменен </th>
                <th> Действия </th>
            </thead>
            <tbody>

                <tr th:each="abonent : ${fider.abonents}">
                    <td th:text="${abonent.accountNumber}"/>
                    <td th:object="${abonent}">
                        <span th:text="*{surname+' ' + name + ' ' + middlename}" /><br/>
                    </td>
                    <td th:object="${abonent}">
                        <span th:text="*{homePhone+ ' ' + firstPhone + ' ' + secondPhone }" /><br/>
                    </td>
                    <td th:object="${abonent}">
                        <span th:text="*{notes}" /><br/>
                    </td>
                    <td>
                        <span th:text="${#dates.format(abonent.created, 'dd.MM.yyyy HH:mm')}" /><br/>
                    </td>
                    <td>
                        <span th:text="${#dates.format(abonent.modified, 'dd.MM.yyyy HH:mm')}" /><br/>
                    </td>
                    <td>
                        <a class="btn btn-outline-dark" th:href="@{'/abonent/edit/' + ${abonent.accountNumber}}">Изменить</a>
                        <a class="btn btn-outline-danger" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/abonent/delete/' + ${abonent.accountNumber}}">Удалить</a>
                        <!-- todo Сделать Error на невозможность удаления Через Constrains или запрос на удаление каскадом-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>