<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Абоненты</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}" />
    <div th:replace="~{flashMessages :: flash}" />

<!-- todo Pagination -->
    <h1>Подготовка отправки СМС</h1>
    <div class="container">
        <div class="row">

        </div>

    </div>


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>