.row {
    margin-bottom: 15px;
}

.modal-dialog {
    max-width: 900px;
}

.insert_template {
    cursor: pointer
}

.flexbox {
    display: flex;
}

.page-content {
    background-color: ghostwhite;
}
