<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:href="@{/css/assets/global/css/components-md.min.css}" rel="stylesheet" id="style_components" type="text/css" />
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<style>
    .input-group-text{line-height: 1;}
</style>

<div class="container">
    <div th:replace="~{navigation :: navigation(file)}" />

    <div th:fragment="steps(activeStep)">
        <div class="mt-element-step">
            <div class="row step-thin">
                <div class="col-md-4 bg-grey mt-step-col done">
                    <div class="mt-step-number bg-white font-grey">1</div>
                    <div class="mt-step-title uppercase font-grey-cascade">Загрузка файлов из DBF</div>
                    <div class="mt-step-content font-grey-cascade">Загрузите файлы KARTTP.DBF, KARTFID.DBF, RES.DBF</div>
                </div>
                <div class="col-md-4 bg-grey mt-step-col" th:classappend="${(activeStep == 'step_2' ? 'active' : '') + (activeStep == 'step_3' ? 'done' : '')}">
                    <div class="mt-step-number bg-white font-grey">2</div>
                    <div class="mt-step-title uppercase font-grey-cascade">Импорт в Базу данных</div>
                    <div class="mt-step-content font-grey-cascade">Проверьте ошибки и запустите импорт</div>
                </div>
                <div class="col-md-4 bg-grey mt-step-col" th:classappend="${activeStep == 'step_3' ? 'active' : ''}">
                    <div class="mt-step-number bg-white font-grey">3</div>
                    <div class="mt-step-title uppercase font-grey-cascade">Результаты загрузки</div>
                    <div class="mt-step-content font-grey-cascade">Просмотр процесса загрузки</div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{flashMessages :: flash}" />





    <h1>Загрузка файлов</h1>
    <div class="container">
        <div class="row">

            <form action="#" method="POST" enctype="multipart/form-data" th:action="@{/importFromDbf/}">
                <h3>ТП</h3>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{KARTTP.DBF}</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" name="tpFile" class="custom-file-input" id="tpFileField">
                            <label class="custom-file-label" for="tpFileField">Выберите файл</label>
                        </div>
                    </div>
                </div>
                <h3>Фидера</h3>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{KARTFID.DBF}</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" name="fiderFile" class="custom-file-input" id="fiderFileField">
                            <label class="custom-file-label" for="fiderFileField">Выберите файл</label>
                        </div>
                    </div>
                </div>
                <h3>Абоненты</h3>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{RES.DBF}</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" name="abonentFile" class="custom-file-input" id="abonentFileField">
                            <label class="custom-file-label" for="abonentFileField">Выберите файл</label>
                        </div>
                    </div>
                </div>
                <input class="btn btn-outline-info" type="submit" value="Загрузить файлы" />
            </form>

        </div>

        <div>
            <ul th:if="${files}">

                <li th:each="file : ${files}">
                    <a th:href="${file}" th:text="${file}" />
                </li>

            </ul>
        </div>
        </div>
    </div>



</div>

<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
        console.log(fileName);
    });

</script>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>