<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:href="@{/css/assets/global/css/components-md.min.css}" rel="stylesheet" id="style_components" type="text/css" />
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
<style>
    .input-group-text{line-height: 1;}
</style>

<div class="container">
    <div th:replace="~{navigation :: navigation(file)}" />

    <div th:replace="~{importFromDbf/step_1 :: steps(step_3)}" />

    <div th:replace="~{flashMessages :: flash}" />

    <div class="container">
        <h1>Загрузка завершена</h1>
       <p th:each="string : ${resultOfImport}">
           <span th:text="${string}">
       </p>
    </div>




</div>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>