<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>

    <title th:text="${title!=null} ? ${title} :'СМС Оповещение абонентов'">СМС оповещение Абонентов</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <th:block th:insert="~{mandatory_styles :: link}"></th:block>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/css/assets/global/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <script th:src="@{/js/jquery.js}"></script>


</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div th:replace="~{nav :: nav(Home)}"/>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">

                <!-- todo Pagination -->

                <div class="container">
                    <div th:replace="~{importFromDbf/step_1 :: steps(step_2)}" />

                    <div th:replace="~{flashMessages :: flash}"/>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Загружены Файлы</h4>
                                    <ul class="list-group" th:if="${files}">

                                        <li class="list-group-item" th:each="file : ${files}">
                                            <a th:href="${file}" th:text="${file}" />
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    <p>
                                        В файлах найдено:</br>
                                        <span th:text="${countTp}"/> ТП;<br/>
                                        <span th:text="${countFid}"/> Фидеров;<br/>
                                        <span th:text="${countAbonents}"/> Абонентов;<br/>
                                    </p>
                                    <a class="btn btn-outline-info" th:href="@{/importFromDbf/step_3}">Импортировать в базу данных</a>
                                </div>

                            </div>
                            <hr/>
                            <div class="row" th:if="${logs}">
                                <h4>Ошибки в файлах .DBF(Передать в Абонентский отдел для исправления)</h4>
                                <br/>
                                <ul class="list-group">
                                    <li class="list-group-item" th:each="log : ${logs}">
                                        <span th:text="${log}"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{mandatory_styles :: script}"></th:block>
</body>
</html>
