<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить РЭС</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}" />

    <h1>Добавление РЭСа</h1>




</div>

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>