<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>

    <title th:text="${title!=null} ? ${title} :'СМС Оповещение абонентов'">СМС оповещение Абонентов</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <th:block th:insert="~{mandatory_styles :: link}"></th:block>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/css/assets/global/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <script th:src="@{/js/jquery.js}"></script>

</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div th:replace="~{nav :: nav(Home)}"/>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">

                <div th:replace="~{flashMessages :: flash}"/>

                <!-- BEGIN PAGE TITLE-->
                <h1 class="page-title"> Cмс оповещение абонентов</h1>
                <!-- END PAGE TITLE-->
                <div class="row">
                    <div class="col-md-5">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i> Выберите объект
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="res_tree" class="tree-demo"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-eye"></i> Информация
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="infoBlock"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div th:replace="~{footer :: footer}"/>
    <!-- END FOOTER -->
</div>


<th:block th:insert="~{mandatory_styles :: script}"></th:block>
<!-- END THEME LAYOUT SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script th:src="@{/css/assets/global/plugins/jstree/dist/jstree.min.js}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script>

    var ajaxTreeSample = function() {

        $("#res_tree").jstree({
            "core" : {
                "themes" : {
                    "responsive": false
                },
                // so that create works
                "check_callback" : true,
                'data' : {
                    'url' : function (node) {
                        return '/app/ajax/resTree';
                    },
                    'data' : function (node) {
                        return { 'parent' : node.id };
                    }
                }
            },
            "types" : {
                "default" : {
                    "icon" : "fa fa-folder icon-state-warning icon-lg"
                },
                "file" : {
                    "icon" : "fa fa-file icon-state-warning icon-lg"
                }
            },
            "state" : { "key" : "demo3" },
            "plugins" : [ "dnd", "state", "types","contextmenu" ],
            "contextmenu" : {
                "items": function (node) {
                    var clickedObjType = node.id.split("_")[0];
                    var labelToAddChildren="";
                    switch (clickedObjType) {
                        case "res":
                            labelToAddChildren = "Добавить подстанцию";
                            break;
                        case "substation":
                            labelToAddChildren = "Добавить секцию шин";
                            break;
                        case "section":
                            labelToAddChildren = "Добавить линию";
                            break;
                        case "line":
                            labelToAddChildren = "Добавить участок";
                            break;
                        case "part":
                            labelToAddChildren = "Добавить ТП";
                            break;
                        case "tp":
                            labelToAddChildren = "Добавить фидер";
                            break;
                        case "fider":
                            labelToAddChildren = "Добавить абонента";
                            break;
                    }
                    standardActions =  {
                        "add_to_cart":{
                            "label" : "В список рассылки",
                            "action" : function (obj) {
                                var clickedNodeId = obj.reference["context"].getAttribute("aria-activedescendant");
                                addToCart(clickedNodeId);
                                $('body,html').animate({
                                    scrollTop: 0
                                }, 400);
                            }
                        },
                        "edit":{
                            "label" : "Редактировать",
                            "action" : function (obj) {
                                var clickedNodeId = obj.reference["context"].getAttribute("aria-activedescendant");
                                locateToEditNode(clickedNodeId);
                            }
                        },
                        "add_child":{
                            "label" : labelToAddChildren,
                            "action" : function (obj) {
                                var clickedNodeId = obj.reference["context"].getAttribute("aria-activedescendant");
                                locateToAddChildren(clickedNodeId);
                            }
                        }
                    };

                    return standardActions;
                }
            }
        });

        $("#res_tree").on("select_node.jstree", function (e, data) {
            showInfo(data.node.id);
        });

    }
    var showInfo = function(nodeId){
        //var requestURL="/app/ajax/getInfo?object=";
        var requestURL="/app/ajax/getInfo";
        var obj = nodeId.split('_')[0];
        var id= nodeId.split('_')[1];
        //requestURL=requestURL+obj+"&id="+id;
        $.ajax({
            url: requestURL,
            dataType: "html",
            method: "GET",
            data: {"object": obj,"id": id},
            success: function(data) {
                $("#infoBlock").html(data);
            },
            error: function(err){
                $("#infoBlock").html("<h3 style='color:red;'>Ошибка отображения информации</h3>");
                console.log(err);
            }
        });
    }
    var addToCart = function(nodeId){
        var requestURL="/app/ajax/addToCart";
        var obj = nodeId.split('_')[0];
        var id= nodeId.split('_')[1];
        console.log(requestURL);
        $.ajax({
            url: requestURL,
            dataType: "html",
            method: "GET",
            data: {"object": obj,"id": id},
            beforeSend:function(){
                var imgTag = "<div id='addToCartLoading'><img src='/app/img/throbber.gif' /> Загрузка...</div>";
                $("#infoBlock").append(imgTag);
            },
            complete:function(){
                $("#addToCartLoading").remove();
            },
            success: function(data) {
                $("#infoBlock").append(data);
                getCartCount(function(newCartCount){

                    $("#cartItemsCount").html(newCartCount);
                });
            },
            error: function(err){
                $("#infoBlock").append("<h3 style='color:red;'>Ошибка отображения информации</h3>");
                console.log(err);
            }
        });
    }
    var getCartCount = function(handleCartCount){
        var result="";
        $.ajax({
            url:"/app/cart/getCount",
            method: "GET",
            success: function(data){
                handleCartCount(data);
            }
        });
        return result;
    }
    var locateToEditNode = function(nodeId){
        var obj = nodeId.split('_')[0];
        var id= nodeId.split('_')[1];
        var locationString ="/app/edit/"+obj+"/"+id;
        window.location.href = locationString;
    }
    var locateToAddChildren = function(nodeId){
        var obj = nodeId.split('_')[0];
        var id= nodeId.split('_')[1];
        var locationString ="/app/edit/"+obj+"/"+id+"/addChildren";
        window.location.href = locationString;
    };


    $(document).ready(function () {
        ajaxTreeSample();
    });

</script>

</body>

</html>
