<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Навигация</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
</head>
<body>
<!-- todo Сделать поиск по всем объектам -->
<div th:fragment="navigation(activeTab)">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Создать</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/res/add/}">РЭС</a>
                <a class="dropdown-item" th:href="@{/tp/add/}">ТП</a>
                <a class="dropdown-item" th:href="@{/fider/add/}">Фидер 0,4</a>
                <a class="dropdown-item" th:href="@{/abonent/add/}">Абонента</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Списки</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/res/}">РЭСы</a>
                <a class="dropdown-item" th:href="@{/tp/}">ТП</a>
                <a class="dropdown-item" th:href="@{/fider/}">Фидера 0,4кВ</a>
                <a class="dropdown-item" th:href="@{/abonent/}">Абоненты</a>
                <!--
                <a class="dropdown-item" th:href="@{/fider/}">Фидер 0,4</a>
                <a class="dropdown-item" th:href="@{/abonent/add/}">Абонента</a>
                -->
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
</div>

<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/bootstrap.bundle.js}"></script>
</body>
</html>