<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>

    <title th:text="${title!=null} ? ${title} :'СМС Оповещение абонентов'">СМС оповещение Абонентов</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <th:block th:insert="~{mandatory_styles :: link}"></th:block>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/css/assets/global/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <script th:src="@{/js/jquery.js}"></script>


</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div th:replace="~{nav :: nav(Home)}"/>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">

                <!-- todo Pagination -->

                <div class="container">
                    <div th:replace="~{flashMessages :: flash}"/>
                    <h1>Список руководителей</h1>
                    <div class="row">
                        <div class="col-md-2" style="margin-right:10px;">
                            <a class="btn blue" th:href="@{/leaders/add}">Добавить руководителя</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn purple" th:href="@{/leaders/broadcast}">Отправить СМС Руководству</a>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <th> ID</th>
                            <th > ФИО</th>
                            <th> Номера тел. </th>
                            <th> Действия </th>
                        </thead>
                        <tbody>
                        <tr th:each="leader : ${leaders}">
                            <td th:text="${leader.accountNumber}"/>
                            <td th:object="${leader}">
                                <span th:text="*{surname+' ' + name + ' ' + middlename}" /><br/>
                            </td>
                            <td th:object="${leader}">
                                <span th:text="*{(homePhone!=null) ? homePhone:''+ ' ' + firstPhone + ' ' + secondPhone }" /><br/>
                            </td>
                            <td class="flexbox">
                                <a class="btn green-dark btn-outline" th:href="@{'/cart/add/abonent/' + ${leader.accountNumber}}">В рассылку</a>
                                <a class="btn blue btn-outline" th:href="@{'/leaders/edit/' + ${leader.accountNumber}}">Изменить</a>
                                <form th:object="${leader}" th:action="@{'/leaders/delete'}" th:method="delete">
                                    <input type="hidden" name="id" th:value="${leader.accountNumber}"/>
                                    <input class="btn red-mint btn-outline" type="submit" value="Удалить"/>
                                </form>
                                <!-- todo Сделать Error на невозможность удаления Через Constrains или запрос на удаление каскадом-->
                            </td>
                        </tr>
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{mandatory_styles :: script}"></th:block>
</body>
</html>
