<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>

    <title th:text="${title!=null} ? ${title} :'СМС Оповещение абонентов'">СМС оповещение Абонентов</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <th:block th:insert="~{mandatory_styles :: link}"></th:block>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/css/assets/global/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <script th:src="@{/js/jquery.js}"></script>


</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width page-md">
<div class="page-wrapper">
    <!-- BEGIN HEADER -->
    <div th:replace="~{nav :: nav(Home)}"/>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">

                <!-- todo Pagination -->

                <div class="container">
                    <div th:replace="~{flashMessages :: flash}"/>

                    <h1>Редактировать РЭС</h1>


                    <form action="#" th:action="@{/res/saveRes}" th:object="${res}" method="post">
                        <input type="hidden" th:if="*{id!=null}" th:field="*{id}" />

                        <div class="form-group">
                            <label>Название</label>
                            <input class="form-control" type="text" th:field="*{name}" />
                            <small class="form-text text-muted">Введите название РЭСа.</small>
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                        </div>
                        <input class="btn btn-outline-info" type="submit" value="Сохранить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{mandatory_styles :: script}"></th:block>
</body>
</html>
