<div class="portlet green-meadow box" th:fragment="mainInfo" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bolt"></i><span th:text="${res.name}"/> </div>
        <div class="actions">
            <a th:href="@{'/edit/res/'+${res.id}}" class="btn purple btn-sm">
                <i class="fa fa-pencil"></i> Редактировать </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row static-info">
            <div class="col-md-5 name"> Название </div>
            <div class="col-md-7 value"> <span th:text="${res.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> Количество подстанций </div>
            <div class="col-md-7 value"> <span th:text="${res.substations.size()}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> Количество ТП: </div>
            <div class="col-md-7 value"> <span th:text="${tps.size()}"> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> Количество абонентов:</div>
            <div class="col-md-7 value">
                <span class="label label-success"> <span th:text="${res.cachedAbonentsCount}"/> </span>
            </div>
        </div>
    </div>
</div>
