<div class="portlet green-meadow box" th:fragment="mainInfo" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-puzzle-piece"></i><span th:text="${part.name}"/> </div>
        <div class="actions">
            <!-- todo: сделать страницу edit-->
            <a th:href="@{'/edit/part/'+${part.id}}" class="btn purple btn-sm">
                <i class="fa fa-pencil"></i> Редактировать </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row static-info">
            <div class="col-md-5 name"> Название </div>
            <div class="col-md-7 value"> <span th:text="${part.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> РЭС </div>
            <div class="col-md-7 value"> <span th:text="${part.line.section.substation.res.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> ПС </div>
            <div class="col-md-7 value"> <span th:text="${part.line.section.substation.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> СШ </div>
            <div class="col-md-7 value"> <span th:text="${part.line.section.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> Фидер </div>
            <div class="col-md-7 value"> <span th:text="${part.line.name}"/> </div>
        </div>
        <div class="row static-info">
            <div class="col-md-5 name"> Количество ТП: </div>
            <div class="col-md-7 value"> <span th:text="${part.getTps().size()}"/> </div>
        </div>
    </div>
</div>
